---
import Layout from '../../layouts/Layout.astro'
import type { FileSystemResponse } from "../../types/global"
import Gallery from '../../components/Gallery.astro'
import SideMenu from "../../components/SideMenu.astro"
import apiClient from '../../config/apiClient'
import UploadIcon from '../../components/icons/UploadIcon.astro'
import ModalForm from '../../components/ModalForm.astro'

const cookie = Astro.cookies.get('Authentication')
if (!cookie?.value) {
  return Astro.redirect('/login')
}

const { path } = Astro.params

let currentDirectory = `/list/${path || ''}`

const fetchContent = async (dir: string) => {
  try {
    const res = await apiClient.get<FileSystemResponse>(dir, {
      headers: {
        Authorization: `Bearer ${cookie.value}`
      }
    })
    return res.data
  } catch (err) {
    return null
  }
}

const res = await fetchContent(currentDirectory)

if (!res || !res.files) {
  console.log(res)
  return Astro.redirect('404')
}

const resources = res.files.map((file) => {
  const fileType = file.name.split('.').pop()?.toLowerCase()
  const isImage = ['jpg', 'jpeg', 'png', 'gif', 'avif', 'webp', 'ico'].includes(fileType!)
  const isVideo = ['mp4', 'mov', 'avi', 'webm', 'mkv', 'wav'].includes(fileType!)
  const isReadable = [
    'txt', 'json', 'js', 'html', 'css',
    'ts', 'py', 'c', 'cs', 'cpp', 'go',
    'rs', 'pdf', 'md', 'jsonc', 'yml',
    'yaml', 'tml', 'toml', 'php', 'sql',
    'sh', 'fish', 'env', 'config', 'xml',
    'rb', 'lua', 'ini', 'sum', 'mod', 'csv',
    'log'
  ].includes(fileType!)

  if (isImage) {
    return {
      type: 'image',
      url: file.url,
      text: file.name
    }
  } else if (isVideo) {
      return {
        type: 'video',
        url: file.url,
        text: file.name
      }
  } else if (isReadable) {
    return {
      type: 'readable',
      url: file.url,
      text: file.name
    }
  } else {
    return {
      type: 'file',
      url: file.url,
      text: file.name
    }
  }
})
---

<Layout title='Jesus Machaca File System Server' description='bro'>
  <main class='flex min-h-screen  text-gray-100'>
    <SideMenu directories={res.dirs} />
    <section id='main-content' class='flex-1 ml-64'>
      <Gallery resources={resources} token={cookie.value} />
    </section>
  </main>
  <button id='upload-button' class='fixed bottom-8 left-72 p-4 bg-blue-600 text-white rounded-full shadow-lg hover:bg-blue-700 transition-colors duration-300'>
    <UploadIcon />
  </button>
  <ModalForm />
</Layout>
