---
import type { Resource } from "../types/props"
import FileItem from "./FileItem.astro"

interface Props {
  resources: Resource[]
  token: string
}

const { resources, token } = Astro.props
---
<div class='container mx-auto px-4 py-8'>
  <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6'>
      {resources.map((resource) => (
        <FileItem resource={resource} token={token} />
      ))}
  </div>
</div>
