---
import type { Content } from '../types/global'
import DirectoryIcon from './icons/DirectoryIcon.astro'

interface Props {
  directories: Content[]
  // onSelectDirectory: (url: string) => void
}

const { directories } = Astro.props
---
<aside class='fixed left-0 top-0 h-full w-64 bg-gray-800 z-10 overflow-y-auto'>
  <nav class='mt-8 p-4'>
    <ul class='space-y-4'>
      {directories.map(directorio => (
        <li>
          <button
            id='button'
            data-url={directorio.url}
            class='flex items-center space-x-2 text-gray-300 hover:text-gray-100 directory-link'>
            <DirectoryIcon />
            <span>{directorio.name}</span>
          </button>
        </li>
      ))}
    </ul>
  </nav>
</aside>
